<div class="btn-group" role="group" aria-label="" style="float: right; margin-right: 5%; background-color: white">

  <input type="radio" class="btn-check" [(ngModel)]="this.priority" [value]="Priority.UNASSIGNED" name="btnradio" id="btnradio1" autocomplete="off" checked>
  <label class="btn btn-outline-secondary" for="btnradio1" >
    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
      <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
    </svg>
  </label>

  <input type="radio" class="btn-check" [(ngModel)]="this.priority" [value]="Priority.HIGH" name="btnradio" id="btnradio2" autocomplete="off">
  <label class="btn btn-outline-secondary" for="btnradio2" >
    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
      <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
    </svg>
  </label>

  <input type="radio" class="btn-check" [(ngModel)]="this.priority" [value]="Priority.URGENT" name="btnradio" id="btnradio3" autocomplete="off">
  <label class="btn btn-outline-secondary" for="btnradio3" style="color: red" >
    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-exclamation-circle-fill" viewBox="0 0 16 16">
      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4m.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2"/>
    </svg>
  </label>
</div>
<p class="h4">Neues Todo anlegen</p>

<hr/>
<div class="formComponent">
  <table>
    <thead>
      <tr class="row">
        <th scope="row"></th>
        <th scope="row"></th>
      </tr>
    </thead>
    <tbody>
      <tr class="col">
        <th class="table-item text-end" scope="row">Name</th>
        <td class="table-item">
          <input class="form-control col" name="name" [(ngModel)]="this.name" style="width: 300px; background-color: transparent;" required>
        </td>
      </tr>
      <tr class="col">
        <th class="table-item text-end" scope="row">Frist</th>
        <td class="table-item">
          <input class="form-control col" name="until" [(ngModel)]="until" type="date" style="width: 300px; background-color: transparent" required/>
        </td>
      </tr>
      <tr class="col">
        <th class="table-item text-end" scope="row">Kategorie</th>
        <td class="table-item">
          <select class="form-select col" name="categories" style="width: 300px; background-color: transparent" [(ngModel)]="category" required>
            <option *ngFor="let categories of dataTableService.categories" [ngValue]="categories">
              {{categories.name}}
            </option>
          </select>
        </td>
      </tr>
      <tr class="col">
        <th class="table-item" scope="row"></th>
        <td class="table-item">
          <button class="btn btn-outline-success col" (click)="create()">
            Hinzufügen
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
